<% if @word %>
  <%= form_for @comment, url: defined_word_comments_path(@word), remote: true, html: {id: "comment-form-#{@word.id}"} do |f| %>
    <%= f.text_field :text, placeholder: "Reply to #{@word.user.username}" %>
    <%= f.submit value: "Reply" %>
  <% end %>

<% elsif @main_comment %>
  <h2>Reply to <%= @main_comment.user.username %></h2>
  <%= form_for @comment, url: comment_comments_path(@main_comment) do |f| %>
    <%= f.text_field :text %>
    <%= f.submit value: "Reply" %>
  <% end %>

<% end %>

<div class="errors">
  <%= render partial: "/shared/errors" %>
</div>