<div class="defined-word-container">
  <h2 class="main-word">
    <%= word.word %>
  </h2>
  <p><%= word.definition %></p>
  <p class="example"><%= word.example %></p>
  <div class="post-details">
    <span>by <%= link_to word.user.username, user_defined_words_path(word.user) %></span>
    <span><%= word.created_at.strftime("%b %d, %Y") %></span>
    <span class="country"><%= word.origin.country %></span>
  </div>
  <div class="voting">
    <div class="upvote-count" id="upvote-count-<%= word.id %>">
      <%= word.votes.where(upvote: true).pluck(:value).reduce(:+) %>
    </div>
      <%= form_for :votes, url: defined_word_votes_path(word.id), method: "post", remote: true do |f|%>
        <% if !word.votes.where(user: current_user, upvote: true).exists? %>
          <%= f.submit class: "upvote-button", id: "upvote-button-#{word.id}", value: "upvote" %>
        <% else %>
          <%= f.submit class: "upvote-button upvoted", id: "upvote-button-#{word.id}", value: "upvote" %>
        <% end %>
      <% end %>
      <%= form_for :votes, url: defined_word_votes_path(word.id), method: "post", remote: true do |f|%>
        <% if !word.votes.where(user: current_user, upvote: false).exists? %>
          <%= f.submit  class: "downvote-button", id: "downvote-button-#{word.id}", value: "downvote" %>
        <% else %>
          <%= f.submit  class: "downvote-button downvoted", id: "downvote-button-#{word.id}", value: "downvote" %>
        <% end %>
      <% end %>
      <div class="downvote-count" id="downvote-count-<%= word.id %>">
        <%= word.votes.where(upvote: false).pluck(:value).reduce(:+) %>
      </div>
    </div>
  <div class="reply-options">
    <span class="view-comments-button">
      <%= link_to "View all #{word.comments.count} comments", defined_word_comments_path(word), remote: true, id: "view-comments-#{word.id}" %>
      </span>
    <span class="reply-button">
    <%= link_to "REPLY", new_defined_word_comment_path(word), remote: true %>
    </span>
  </div>
  <div class="reply-box" id="reply-box-<%= word.id %>">
  </div>
  <div class="comments-thread">
  </div>
<div>