<div class="defined-word-show">
  <h2>
    <%= word.word %>
  </h2>
  <p><%= word.definition %></p>
  <p class="example"><%= word.example %></p>
  <div class="post-details">
    <span>by <%= link_to word.user.username, user_defined_words_path(word.user) %></span>
    <span><%= word.created_at.strftime("%b %d, %Y") %></span>
  </div>
  <%= form_for :votes, url: defined_word_votes_path(word.id), method: "post" do |f|%>
    <%= f.submit  value: "Upvote" %>
  <% end %>
  <div class="upvote-count">
    <%= word.votes.where(upvote: true).pluck(:value).reduce(:+) %>
  </div>
  <%= form_for :votes, url: defined_word_votes_path(word.id), method: "post" do |f|%>
    <%= f.submit  value: "Downvote" %>
  <% end %>
  <div class="downvote-count">
     <%= word.votes.where(upvote: false).pluck(:value).reduce(:+) %>
  </div>
  <div class="reply">
    <%= link_to "REPLY", new_defined_word_comment_path(word) %>
  </div>
<div>