<div class="defined-word-show">
  <h2>
    <%= word.word %>
  </h2>
  <p><%= word.definition %></p>
  <p class="example"><%= word.example %></p>
  <div class="post-details">
    <span>by <%= link_to word.user.username, user_defined_words_path(word.user) %></span>
    <span><%= word.created_at.strftime("%b %d, %Y") %></span>
    <span><%= word.origin.country %></span>
  </div>
  <br>
  <div class="reply">
    <%= link_to "REPLY", new_defined_word_comment_path(word) %>
  </div>
<div>