<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spanglishdictionary</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Oswald|Source+Sans+Pro" rel="stylesheet">
  </head>
  <body>
    <header>
      <div class="logo">
        <h1>Spanglish Dictionary</h1>
      </div>
      <button>
        ☰
      </button>
      <nav>
        <ul>
          <div class="nav-link" id="add-word">
            <li>
              <%= link_to "Add a new word", new_defined_word_path %>
            </li>
          </div>
          <div class="nav-link" id="add-word">
            <li>
              <%= link_to "Words by Origin", origins_path %>
            </li>
          </div>
          <div class="nav-link">
            <li>
              <%= link_to "Home", root_path %>
            </li>
          </div>
          <% if user_signed_in? %>
            <div class="nav-link">
              <li>
                <%= link_to "Log out", destroy_user_session_path, method: "delete" %>
              </li>
            </div>
          <% else %>
            <div class="nav-link">
              <li>
                <%= link_to "Log in", new_user_session_path %>
              </li>
            </div>
            <div class="nav-link">
              <li>
                <%= link_to "Sign up", new_user_registration_path %>
              </li>
            </div>
          <% end %>
        </ul>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
